.custom-carrousele .swiper-pagination-bullet {
  background: #8627cc;
}

.custom-carrousele .swiper-pagination-bullet-active {
  background: #5e1999;
}

.custom-carrousele .swiper-wrapper {
  justify-content: center;
  gap: 20px;
}

@media (max-width: 900px) {
  .custom-carrousele .swiper-wrapper {
    justify-content: flex-start;
  }
}
